/ {
	macros {
		compatible = "zmk,macros";

		carons: caron_macro {
			compatible = "zmk,behavior-macro";
			label = "Caron Macro";
			#binding-cells = <1>;
			wait-ms = <20>;
			tap-ms = <30>;
			bindings = <
				&macro_press &kp RALT &kp LSHFT
				&macro_tap &kp N6
				&macro_release &kp RALT &kp LSHFT
				&macro_tap &kp MACRO_PLACEHOLDER
			>;
		};

		umlauts: umlaut_macro {
			compatible = "zmk,behavior-macro";
			label = "Umlaut Macro";
			#binding-cells = <1>;
			wait-ms = <20>;
			tap-ms = <30>;
			bindings = <
				&macro_press &kp RALT &kp LSHFT
				&macro_tap &kp APOS
				&macro_release &kp RALT &kp LSHFT
				&macro_tap &kp MACRO_PLACEHOLDER
			>;
		};
	};
};
